    <footer class="footer">
        <!-- <br>
        <br>
        <br>
        <br>
        
        <p>footer works</p> -->
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> GoTogether
    </footer>
</body>
</html>
