<%- include("partials/newHeader3.ejs", {data: "Deletion Confirmation"})%> <!-- This is the header for the deletionconfirmation page-->

<!-- a responsive container using Bootstrap classes -->
<div class="container small_box d-flex text-center justify-content-center align-items-center">
    <div class="boxMessage">
    <p>Your profile has been successfully deleted!</p>
        <br>
        <i class="fa-regular fa-trash-can fa-2xl" style="color: #0f231c;"></i>
    </div>
</div>

<%- include("partials/footer.ejs") %> <!-- This is the footer for the deletionconfirmation page-->
