<%- include("partials/header2.ejs", {data: "Deletion Confirmation"})%>

<div class="small_box_container">

    <div class="boxMessage">
        <p>Your profile has been successfully deleted!</p>
        <br>
        <br>
        <i class="fa-regular fa-trash-can fa-2xl" style="color: #0f231c;"></i>
    </div>
        <br>

</div>

<%- include("partials/footer.ejs") %>
