<%- include("partials/newHeader2.ejs", {data: "Home"})%> <!-- This is the header for the home/dashboard page -->

<style>
    body{
        background-color: #fbfbff;
    }
</style>
<!-- calendar code from https://fullcalendar.io/docs/initialize-globals-->
<!-- page needs to be separated into 3 columns. Utilized CSS bootstrap to -->
<!-- separate calendar and invite details -->

<div class="home-container-fluid">
    <div class="row">
        <!-- calendar on column 1 -->
        <div class="col-sm-4">
            <span id='calendar'>
                <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
                    <script>

                    document.addEventListener('DOMContentLoaded', function() {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth'
                        });
                        calendar.render();
                        });

                    </script>
            </span>
        </div>
        <div class="col-sm-2">
            <h1 id="groot_header">Invitations</h1>
            <!-- image for the event in column 2 -->
            <div>
                <img src="/assets/homePage/test_groot_image.jpeg" alt="Mock event" class="groot">
            </div>
        </div>

        <!-- logistical information for event in column3 -->
        <div class="col-sm-6">
            <div class="event-info">
                <p class="event-title">Groot Watch Party</p>
                <p>
                    <i class="far fa-calendar-alt"></i>
                    Sat, Oct 7, 4:00 PM CDT
                </p>
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    Bullock Museum IMAX Theatre
                </p>
                <p>Austin, Tx</p>
                <p>
                    Look forward to seeing everyone for the Groot watch party!!!
                </p>
                <p>4 Spots left</p>
                <button class="btn2-style" type="submit">Learn more</button>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") %>








<!-- if the img and the event still overlap, we can do PLAN B as following-->
    <!-- <div class="row">
        <div class="col-sm-5">
            <span id='calendar'>
                <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
                    <script>

                    document.addEventListener('DOMContentLoaded', function() {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth'
                        });
                        calendar.render();
                        });

                    </script>
            </span>
        </div>
        <div class="col-sm-7">

            <div class="new-event-info">
                <h1 id="groot_header">Invitations</h1>
                <div>
                    <img src="/assets/homePage/test_groot_image.jpeg" alt="Mock event" class="groot">
                </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
                <div>
                <p class="event-title">Groot Watch Party</p>
                <p>
                    <i class="far fa-calendar-alt"></i>
                    Sat, Oct 7, 4:00 PM CDT
                </p>
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    Bullock Museum IMAX Theatre
                </p>
                <p>Austin, Tx</p>
                <p>
                    Look forward to seeing everyone for the Groot watch party!!!
                </p>
                <p>4 Spots left</p>
                <button class="btn2-style button2" type="submit">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
