<%- include("partials/header1.ejs", {data: "create profile page"})%>

<div class="box_container">
    <h1 class="title">Sign up</h1>
    <div>
        <form style="margin-bottom:20px"; action="/createProfilePage" method="get">
            <label>Email:</label>
            <input
            type="email"
            name="email" required>
            <br>

            <label>Password:</label>
            <input
            type="password"
            name="Password"
            maxlength="20"
            minlength="6"
            required>
            <br>

            <label>Confirm password:</label>
            <input
            type="password"
            name="Password"
            required>

            <br>
            <br>

            <div class="button1">
            <button class="btn1-style"
            type="submit">Log in</button>
            <p class="small_text">View profile</p>
            </div>

            <div class="button2">
            <button class="btn2-style" type="submit">Create my profile</button>
            <p class="small_text"></p>
            </div>

        </form>
    </div>
        <br>
        <br>
        <br>
</div>




<%- include("partials/footer.ejs") %>
