<%- include("partials/header1.ejs", {data: "create profile page"})%>

<h1>View Profile Page</h1>







<!-- JX added the following code to test the movie info. -->
<form action="/movieInfoPage" method="get">
    <label for="movies">Enter a Movie Title:</label>
    <input type="text" name="titlesearch" id="movies">
    <button type="submit">Search</button>
</form>

<%- include("partials/footer.ejs") %>
