/* background color for all pages*/
body {
  background-color: #FBFBFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

  /* navbar styling starts*/
.custom-navbar {
  border-bottom: 1px solid #989AB8;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  }

  /* styles for the text underneath the icon */
.icon-text-container {
  text-align: center;
  width: 50px;
  font-size: 12px;
  color: #0F231C;
  }

  /* Styles for the icon */
.icon-text-container i {
  font-size: 20px;
  color: #0F231C;
  }

.icon-text-container p{
  font-size: 12px;
}

  /* styles for the navbar buttons */
  .custom-nav-button {
  background-color: #A5A5F5;
  }

  .custom-nav-button:hover {
  background-color: #A5A5F5;
  }

  /* styles for the search bars */
  .nav-search {
  font-family: 'Inter';
  font-size: 14px;
  color:#5d587c;;
  border-color: #989AB8;
  }

  /* styles for the dropdown profile button */
  .dropdown-item:active {
  background-color: #A5A5F5;
  color: #0f231c;
  }
  /* navbar styles ends */

  /* landingPage styles starts*/
  .backgroundImage {
  background-image: url(assets/landingPage/outdoorsRunners.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  }

  /* .small_box_container {
  position: relative;
  max-width: 557px;
  width: 90%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 1px solid #989AB8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(247, 246, 252, 0.8);
  } */

  .small_box{
  position: relative;
  max-width: 557px;
  min-height: 300px;
  margin-top: 10%;
  border: 1px solid #989AB8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(247, 246, 252, 0.8);
  }

  .landingPage_subtext {
  font-family: "Inter";
  font-size: 20px;
  color: #0f231c;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  }

  .landingPage_labels label {
  display: inline-block;
  width: 110px;
  }
  /* landingPage styles ends*/

  /* movieInfoPage styling starts here */
  /* styling for the big purple box*/
  .box_container {
  position: relative;
  width: 557px;
  height: fit-content;
  margin-top: 5%;
  border: 1px solid #989AB8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #F7F6FC;
  opacity: 0.8;
  }

  /* styling for headers*/
  .title {
  font-family: 'Inter';
  font-size: 32px;
  color: #0F231C;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  }

  /* styling for pictures,
  COPY and MAKE a class for your img item
  and adjust size accordingly*/
  .movie_image {
  display: block;
  width: 180px;
  height: auto;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  }

  /* styling for text blocks */
  .text_container {
  margin-top: 25px;
  font-family: 'Inter';
  font-size: 16px;
  color: #0F231C;
  text-align: center;
  }

  /* styles for the buttons */
  .btn1-style {
  background-color: #A5A5FF;
  height: 32.5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 0px 15px 0px 15px;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .button1 {
  position: absolute;
  /* display: flex; */
  margin-top: 36px;
  left: 95px;
  display: inline-block;
  font-family: "Inter";
  font-size: 18px;
  color: #0f231c;
  }

  .btn2-style {
  background-color: #FFE459;
  height: 32.5px;
  border: none;
  border-radius: 7px;
  padding: 0px 15px 0px 15px;
  cursor: pointer;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .button2 {
  position: absolute;
  margin-top: 36px;
  right: 95px;
  display: inline-block;
  font-family: "Inter";
  font-size: 18px;
  color: #0f231c;
  }

  .small_text {
  font-family: 'Inter';
  font-size: 12px;
  color: #0F231C;
  margin-top: 3px;
  text-align: center;
  }
  /* movieInfoPage styling ends*/

  /* signup page styling starts*/
  label {
  margin-bottom: 20px;
  text-align: left;
  font-family: "Inter";
  font-size: 16px;
  color: #0f231c;
  }

  input {
  border-radius: 7px;
  height: 25px;
  width: 220px;
  border-width: 1px;
  border-color: #0f231c;
  font-size: 16px;
  color:#0f231c;
  }

  input::placeholder{
    font-family: "Inter";
    font-size: 14px;
    color:#5d587c;
    padding-left: 6px;
  }

  .showPassword{
    font-family: 'Inter';
    font-size: 12px;
    color: #0F231C;
    /* text-align: center; */
    /* vertical-align:middle; */
    /* margin-left:20% */
  }

  .showPasswordBox{
    display:absolute;
    transform: scale(0.6);
    margin-left: 125px;
  }

  .showPasswordContainer{
    display: flex;
  }

  

  .leftBtn {
  position: absolute;
  margin-top: 3%;
  left: 95px;
  font-size: 18px;
  }

  .rightBtn {
  position: absolute;
  font-size: 18px;
  margin-top: 3%;
  right: 95px;
  }

  .signupPage_labels label {
  display: inline-block;
  width: 110px;
  }
  /* signup page style ends */

  /* movieInfoPage styling starts */
  /* Paragraph font for the landing page text under the header */
  .overview {
  font-family: "Inter";
  font-size: 24px;
  color: #0f231c;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  }

  /* this code is for the calendar that will function in the Home Page */
  #calendar {
  float: left;
  position: Top;
  max-width: 450px;
  height: fit-content;
  margin-top: 20px;
  /* top: 200px;
  bottom: 60px;
  margin-bottom: 20px auto; */
  /* border-right: 3px solid #b8aa98; */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  /* background-color: rgb(239, 188, 133); */
  background-color: #D4C9F1;
  }

  /* this code for the invitation on the home page */

  #groot_header {
  margin-top: 20px;
  }

  #groot_ul {
  margin-top: 20px;
  float: right;
  }

  .event-title {
  text-align: left;
  color: #0F231C;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
  }

  .event-info {
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #989AB8;
  box-sizing: border-box;
  border-radius: 15px;
  }

  .new-event-info {
  /* margin-top: 80px; */
  padding: 100px;
  box-sizing: border-box;
  /* margin-bottom: 50px; */
  border-bottom: #0F231C solid 1px;
  }

  /* ---------------------------------------------------------- */
  /* This is the start of Tom's CSS Styling */
  /* This is the start of the styling for the ViewProfilePage Route */
  .box_containerView {
  /* This is for the view page */
  position: relative;
  max-width: 557px;
  height: fit-content;
  margin-top: 15%;
  margin: 0 auto;
  border: 1px solid #989AB8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #F7F6FC;
  overflow: auto;
  }

  .box_containerView img {
  /* This is for the view page */
  width: 20%;
  margin: auto;
  display: block;
  }

  .ProfileView {
  /* This is for the view page */
  list-style-type: none;
  }

  .ProfileView li {
  margin: 5px;
  }

  /* This is the end of the viewProfilePage Route's Styling
  /* ---------------------------------------------------------- */
  /* This is the start of the createProfilePage Styling */

  .box_containerCreate {
  /* This for the create page */
  position: relative;
  max-width: 557px;
  height: fit-content;
  /* top: 60px; */
  /* margin: 0 auto; */
  margin-top:5%;
  border: 1px solid #989AB8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #F7F6FC;
  overflow: auto;
  }

  .box_containerCreate label {
  display: inline-block;
  width: 110px;
  }

  .CreateTopper {
  text-align: center;
  }

  .CreateView {
  /* This for the create page */
  list-style-type: none;
  }

  .box_containerCreate .ImageHere {
  justify-content: center;
  color:#0F231C;
  }

  .ImageHere {
  display: block;
  width: 110px;
  height: auto;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.required {
  color: red;
}
/* This is the end of the createProfilePage Styling */
/* ----------------------------------------------------------*/
/* This is the start of editProfilePage Styling */
.box_containerEdit { /* This for the create page */
  position: relative;
  width: 557px;
  height: fit-content;
  top: 60px;
  margin: 0 auto;
  border: 1px solid #989AB8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #F7F6FC;
  overflow: auto;
  }
  /* This is the end of Tom's CSS styling */

  /* deleteProfilePage styling starts here */
  .boxMessage {
  /* position: relative; */
  font-family: inter;
  font-size: 24px;
  color: #0f231c;
  /* margin-top: 15%; */
  /* margin-bottom: 15%; */
  /* text-align: center; */
  }

  /* deleteProfilePage styling ends here */

  /* footer positioning */
  footer {
  margin-top: auto;
  background-color: #D4C9F1;
  opacity: 50%;
  font-family: inter;
  color: #0F231C;
  font-size: 18px;
  padding: 12px;
  text-align: center;
  display: block;
  }
